
html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

body
{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
}

#userForm {
    width: 25%;
    display: flex; 
    flex-direction: column;
}

label
{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

input[type=submit]
{
    margin-top: 25px;
}

input
{
    margin-left: 10px;
}

label[required]::before
{
    content: '*';
}

input:invalid 
{
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}
output 
{
    width: 100%;
}

#sumbitResults
{
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
}
